<!-- <p>journal-list works!</p> -->

<div class="bg-amber-50 rounded-xl shadow-2xl p-6">
    <h2 class="text-xl font-bold mb-4">Dagens anteckningar</h2>

    <!-- Om det håller på att ladda -->
    <!-- <div *ngIf="loading" class="text-center text-gray-500">Laddar dina anteckningar...</div> -->
    @if (loading) {
        <div class="text-center text-gray-500">Laddar dina anteckningar...</div>
    }

    <!-- Om inte finns någon anteckning -->
    @if (!loading && entries.length === 0) {
        <div class="text-center text-gray-500">Inga anteckningar för idag. Skriv en ny ovan!</div>
    }

    <!-- Lista av journal entries -->
     <ul class="space-y-4">
        @if (entries.length > 0){
            @for (entry of entries; track trackById($index, entry)){
                <li class="relative border rounded-lg p-4 shadow-sm">
                    <p class="text-gray-800">{{entry.note}}</p>
                    <div class="text-sm text-gray-500 mt-2 flex justify-between">
                        <span>Stämning: {{getEmoji(entry.feeling)}} {{ getFeelingText(entry.feeling)}}</span> | 
                        <span>Skapat: {{entry.createdAt | date: "d MMMM y 'klockan:' HH:mm"}}</span>
                    </div>
                    <!-- Här inne lägger till edit & delete  -->
                    <div class="absolute top-2 right-2 flex gap-2">
                        <!-- <app-edit-form [entry]="entry" (updated)="reloadAfterChange()"></app-edit-form>
                        <app-delet-entry [entryId]="entry.id" (deleted)="reloadAfterChange()"></app-delet-entry> -->
                                                <!-- Visar knappar bara när man inte redigerar -->
                         @if (editingId !== entry.id) {
                            <button (click)="startEditing(entry.id)" class="text-blue-600 hover:text-blue-800" title="Ändra anteckning">
                                ✏️
                            </button>
                         }

                        <!-- <app-edit-form [entry]="entry" (updated)="reloadAfterChange()" [attr.key]="entry.id"></app-edit-form> -->
                        <app-delet-entry [entryId]="entry.id" (deleted)="reloadAfterChange()"></app-delet-entry>

                    </div>
                                        <!-- Visar edit form bara när man redigerar den här posten -->
                    @if (editingId === entry.id) {
                        <div>
                            <app-edit-form 
                                [entry]="entry" 
                                (updated)="onEntryUpdated($event)"
                                (cancelled)="editingId = null">
                            </app-edit-form>            
                        </div>
                                
                    }

                </li>
            }
        }

     </ul>     

</div>


