<!-- <p>journal-form works!</p> -->
 <div class="bg-green-50 rounded-xl shadow-xl p-6 mb-6">
    <h2 class="text-xl font-bold mb-4">Skapa ny anteckning</h2>

    <!-- Formulär för att skapa inlägg -->
    <form (ngSubmit)="onSubmit()">
        <!-- Textarea för journal entry -->
        <div class="mb-4">
            <label for="note" class="block text-gray-700 font-medium mb-2">Skriv din dagbokspost här:</label>
            <textarea id="note" [(ngModel)]="note" name="note" rows="4" class="w-full px-3 py-2 border rounded" placeholder="Skriv en kort anteckning ..." required></textarea>
        </div>

        <!-- Dropdown för att välja känsla -->
        <div class="mb-4">
            <label for="feeling" class="block text-gray-700 font-medium mb-2">Hur känner du dig?</label>
            <select id="feeling" [(ngModel)]="feeling" name="feeling" class="w-full px-3 py-2 border rounded" required>
                <option value="GLAD">😊 Glad</option>
                <option value="SAD">😢 Ledsen</option>
                <option value="ANGRY">😡 Arg</option>
                <option value="TIRED">😴 Trött</option>
                <option value="EXCITED">😃 Uppspelt</option>
                <option value="WORRIED">😟 Orolig</option>
                <option value="NEUTRAL">😐 Neutral</option>
                <option value="DISAPPOINTED">😞 Besviken</option>
                <option value="NERVOUS">😬 Nervös</option>
                <option value="STRESSED">😫 Stressad</option>
                <option value="RELIEVED">😌 Lättad</option>
                <option value="PROUD">😎 Stolt</option>
                <option value="HOPEFUL">🤞 Hoppfull</option>

            </select>
        </div>

        <!-- Submit knapp, för att spara inlägg -->
        <div class="text-right">
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 disabled:opacity-50">
                Spara
            </button>
        </div>
    </form>
 </div>
